body {
	background: #ffffff;
}

span {
	font-style: italic;
	letter-spacing: 1px;
}

/* footer {
	height: 10vh;
	bottom: 0;
	background: #000;
} */

.header {
	display: inline-flex;
	justify-content: center;
	align-items: flex-start;
	position: relative;
	font-size: 60px;
	color: #c4c4c4;
	margin: 1px;
	margin-left: 25px;
	font-family: Poppins, sans-serif;
	letter-spacing: 8px;
	font-weight: 300;
}

@media screen and (max-width: 600px) {
	.header {
		font-size: 30px;
		margin-left: 10px;
	}
}

.navbar {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	width: 100%;
}

.navbar ul {
	display: flex;
	flex-direction: row;
	margin-right: 25px;
}

.navbar ul li {
	margin: 16px;
	padding: 15px;
	border: rgba(0, 0, 0, 0) 1px solid;
	border-radius: 30px;
	font-size: 18px;
	font-family: Poppins, sans-serif;
	color: #c4c4c4;
	list-style-type: none;
}

.navbar ul li:hover {
	background: #000000;
	color: #ffffff;
	border: #fff 1px solid;
	border-radius: 30px;
	transition: all 0.5s;
	transform: scale(1.1, 1.1);
}

@media screen and (max-width: 600px) {
	.navbar ul {
		margin: 0px;
	}

	.navbar ul li {
		margin: 0px;
		padding: 15px;
		font-size: 10px;
	}

	.navbar ul li:hover {
		height: 5vh;
	}
}

.head-text {
	position: relative;
}

.head-text h4 {
	position: absolute;
	bottom: 55%;
	right: 3%;
	font-size: 8vw;
	font-family: "Bebas Neue", cursive;
	color: #ff5194;
	padding-left: 20px;
	padding-right: 20px;
}

.head-text p {
	position: absolute;
	bottom: 50%;
	right: 3.5%;
	font-family: Poppins, sans-serif;
	font-size: 1vw;
	color: white;
	padding-left: 20px;
	padding-right: 20px;
}

.head-text button {
	position: absolute;
	padding: 8px;
	bottom: 35%;
	right: 17%;
	font-family: Poppins, sans-serif;
	font-size: 1vw;
	color: #000;
	background-color: #fff;
	border-radius: 30px;
	padding-left: 20px;
	padding-right: 20px;
}

.img-head {
	border-bottom: rgb(255, 255, 255) 1px solid;
	margin-bottom: -4px;
}

.offer {
	display: flex;
	justify-content: center;
	border-bottom: rgb(255, 255, 255) 1px solid;
	width: 100%;
	padding: 10px;
	color: #ffffff;
	background: #0c0c0c;
	position: relative;
	font-family: Poppins, sans-serif;
}

.sale {
	background: rgb(158, 185, 185);
	color: #ffffff;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	border-bottom: rgb(255, 255, 255) 1px solid;
	width: 100%;
	position: relative;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	font-size: 22px;
	font-weight: bold;
	padding: 40px;
	letter-spacing: 3px;
	margin-bottom: 3%;
}

.sale a {
	font-size: 12px;
	font-weight: 100;
	letter-spacing: 0;
}

@media screen and (max-width: 600px) {
	.header {
		letter-spacing: 3px;
	}
	.head-text h4 {
		font-size: 1.5em;
		left: 61%;
		margin: 0px;
		padding: 0px;
	}

	.head-text p {
		font-size: 8px;
		width: 40vw;
		text-align: center;
		bottom: 31%;
	}

	.head-text button {
		padding: 1%;
		font-size: 8px;
		width: 18vw;
		bottom: 20%;
		left: 66.5%;
	}

	.head-text h4,
	p,
	button {
		right: 0;
		padding-bottom: 15px;
	}

	.offer {
		font-size: 10px;
		margin-top: -1px;
	}

	.sale {
		font-size: 15px;
		padding: 8%;
	}
}

.news {
	display: flex;
	justify-content: center;
	font-size: 3vw;
	font-family: Poppins, sans-serif;
	font-weight: 600;
	margin: 20px;
}

.product {
	margin-bottom: 50px;
}

.product .descripton {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.product div {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: rgb(0, 0, 0);
	padding: 2px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.product .product-title {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

.product .price {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

.product img {
	width: 100%;
}

@media screen and (max-width: 600px) {
	.news {
		font-size: 5vw;
	}
}

.product .buy {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
}

#container {
	display: grid;
	grid-template: 1fr / 1fr 1fr 1fr;
	margin: auto;
	margin-top: 5vh;
	align-items: center;
	width: 95%;
	height: 350px;
	gap: 5%;
}

#container .product {
	width: 100%;
	height: 100%;
	background: rgb(255, 255, 255);
}

@media screen and (max-width: 600px) {
	#container {
		display: grid;
		grid-template: 1fr / 1fr 1fr;
	}
}

#head {
	display: flex;
	flex-direction: row;
	border-bottom: rgb(255, 255, 255) 1px solid;
	width: 100%;
	background: #0c0c0c;
}
